name: "Build"

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix develop --ignore-environment --command bash build.sh
      - uses: actions/upload-artifact@v4
        with:
          name: zfs-module
          path: result/
