name: "Build"

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix build --print-build-logs
      - uses: actions/upload-artifact@v4
        with:
          name: zfs-module
          path: result/
