name: "Build and Release (Cron)"

on:
  schedule:
    - cron: "37 1 * * 1"  # At 01:37 every week
  workflow_dispatch:

jobs:
  get-tags:
    runs-on: ubuntu-latest
    outputs:
      kernel-tags: ${{ steps.tags.outputs.kernel-tags }}
      zfs-tags: ${{ steps.tags.outputs.zfs-tags }}
    steps:
      - name: Fetch latest tags
        id: tags
        run: |
          # Fetch latest kernel tags
          KERNEL_TAGS=$(curl -s https://api.github.com/repos/microsoft/WSL2-Linux-Kernel/releases \
            | jq -r '[.[] | select(.prerelease == false)][0:3] | map(.tag_name) | @json')
          echo "kernel-tags=$KERNEL_TAGS" >> $GITHUB_OUTPUT

          # Fetch latest ZFS tags
          ZFS_TAGS=$(curl -s https://api.github.com/repos/openzfs/zfs/releases \
            | jq -r '[.[] | select(.prerelease == false)][0:3] | map(.tag_name) | @json')
          echo "zfs-tags=$ZFS_TAGS" >> $GITHUB_OUTPUT

  build-and-release:
    needs: get-tags
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kernel-tag: ${{ fromJson(needs.get-tags.outputs.kernel-tags) }}
        zfs-tag: ${{ fromJson(needs.get-tags.outputs.zfs-tags) }}
      fail-fast: false
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Build and release
        run: |
          ZFS_TAG="${{ matrix.zfs-tag }}"
          KERNEL_TAG="${{ matrix.kernel-tag }}"

          ZFS_VERSION=$(echo "$ZFS_TAG" | sed 's/^zfs-//')
          KERNEL_VERSION=$(echo "$KERNEL_TAG" | sed 's/^linux-msft-wsl-//')

          KERNEL_LINK="https://github.com/microsoft/WSL2-Linux-Kernel/releases/tag/$KERNEL_TAG"
          ZFS_LINK="https://github.com/openzfs/zfs/releases/tag/$ZFS_TAG"

          RELEASE_TAG="zfs-${ZFS_VERSION}-kernel-${KERNEL_VERSION}"

          RELEASE_NOTE="ZFS kernel module built for WSL2 Linux Kernel"
          RELEASE_NOTE+="\n\n- Kernel: [$KERNEL_TAG]($KERNEL_LINK)"
          RELEASE_NOTE+="\n- ZFS: [$ZFS_TAG]($ZFS_LINK)"

          if ! gh release view "$RELEASE_TAG" > /dev/null 2>&1; then
            echo "Building ZFS module for $RELEASE_TAG"
            nix develop --ignore-environment --command bash build.sh "$KERNEL_TAG" "$ZFS_TAG"

            echo "Creating tar.gz archive"
            tar -czf ".tmp/zfs-modules.tar.gz" -C ".tmp/result" spl.ko zfs.ko

            echo "Creating release: $RELEASE_TAG"
            gh release create "$RELEASE_TAG" \
              ".tmp/zfs-modules.tar.gz" \
              --title "ZFS $ZFS_VERSION - Kernel $KERNEL_VERSION" \
              --notes "$(printf "$RELEASE_NOTE")"
          else
            echo "Release $RELEASE_TAG already exists, skipping"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        if: always() # Run even if the previous step fails
        with:
          name: zfs-modules-${{ matrix.zfs-tag }}-${{ matrix.kernel-tag }}
          path: .tmp/result/
